In [6]:
import pandas as pd
import numpy as np

In [2]:
import datetime,os
now = datetime.datetime.now()
dt = now.strftime("%Y%m%d")
ymd = now.strftime("%Y-%m-%d")
hour_now = now.strftime("%H")
hour_from = str(int(hour_now)-10)
hour_to = str(int(hour_now)-12)
print(ymd,hour_from,hour_to)

2019-02-12 4 2

In [4]:
datetime.datetime(2018,10,10).strftime("%Y%m%d")

'20181010'

In [5]:
datetime.datetime(2018,10,10)+datetime.timedelta(days=1)

datetime.datetime(2018, 10, 11, 0, 0)

In [ ]:
cnt_ret = {'d7': {'9': {'0': 6680, '1': 177, '2': 49, '3': 14, '4': 1, 'pos': 241, 'neg': 6680, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.11346516007532957, 'neg_ratio': 0.09600597881544719, 'IVi': 0.0029171736080209772}, '1': {'0': 6152, '2': 28, '1': 132, '3': 6, '4': 3, 'pos': 169, 'neg': 6152, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.0795668549905838, 'neg_ratio': 0.08841748228632203, 'IVi': 0.0009334942646128106}, '7': {'0': 5193, '2': 28, '1': 140, '3': 9, '4': 2, 'pos': 179, 'neg': 5193, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.08427495291902072, 'neg_ratio': 0.0746345880222481, 'IVi': 0.0011711178545475564}, '10': {'0': 5778, '1': 183, '2': 39, '3': 22, '4': 1, 'pos': 245, 'neg': 5778, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.11534839924670433, 'neg_ratio': 0.08304229724485836, 'IVi': 0.010616012029839089}, '8': {'0': 6520, '1': 154, '2': 32, '3': 4, '4': 4, 'pos': 194, 'neg': 6520, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.09133709981167608, 'neg_ratio': 0.09370643441268199, 'IVi': 6.067818896694055e-05}, '2': {'0': 5235, '1': 97, '2': 22, '3': 7, '4': 2, 'pos': 128, 'neg': 5235, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.060263653483992465, 'neg_ratio': 0.07523821842797396, 'IVi': 0.0033233076701710664}, '6': {'0': 6996, '1': 169, '2': 39, '3': 8, '4': 1, 'pos': 217, 'neg': 6996, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.10216572504708098, 'neg_ratio': 0.10054757901090847, 'IVi': 2.5834044023883006e-05}, '0': {'0': 14368, '1': 336, '2': 55, '3': 18, '4': 11, 'pos': 420, 'neg': 14368, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.1977401129943503, 'neg_ratio': 0.20649908736831515, 'IVi': 0.00037963483925614055}, '3': {'1': 93, '0': 4518, '2': 21, '3': 4, 'pos': 118, 'neg': 4518, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.05555555555555555, 'neg_ratio': 0.0649333850730824, 'IVi': 0.001462738639812172}, '5': {'0': 3484, '1': 61, '2': 22, '4': 2, '3': 3, 'pos': 88, 'neg': 3484, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.04143126177024482, 'neg_ratio': 0.050072579370212277, 'IVi': 0.0016369924475597307}, '4': {'0': 4655, '1': 99, '2': 14, '3': 10, '4': 2, 'pos': 125, 'neg': 4655, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.05885122410546139, 'neg_ratio': 0.0669023699679501, 'IVi': 0.0010323320773205726}},
    'd8': {'4': {'0': 8225, '1': 194, '2': 43, '3': 9, '4': 3, 'pos': 249, 'neg': 8225, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.1172316384180791, 'neg_ratio': 0.11821095445464867, 'IVi': 8.14691529508821e-06}, '1': {'0': 14093, '1': 321, '2': 62, '3': 19, '4': 5, 'pos': 407, 'neg': 14093, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.1916195856873823, 'neg_ratio': 0.20254674542606246, 'IVi': 0.0006060051936610944}, '5': {'0': 9400, '1': 274, '2': 64, '3': 28, '4': 4, 'pos': 370, 'neg': 9400, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.17419962335216574, 'neg_ratio': 0.13509823366245563, 'IVi': 0.009939562767245471}, '3': {'0': 10654, '1': 243, '2': 66, '3': 11, '4': 4, 'pos': 324, 'neg': 10654, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.15254237288135594, 'neg_ratio': 0.1531209129191279, 'IVi': 2.1900502320511132e-06}, '0': {'0': 14368, '1': 336, '2': 55, '3': 18, '4': 11, 'pos': 420, 'neg': 14368, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.1977401129943503, 'neg_ratio': 0.20649908736831515, 'IVi': 0.00037963483925614055}, '2': {'0': 12839, '1': 273, '2': 59, '3': 20, '4': 2, 'pos': 354, 'neg': 12839, 'pos_all': 2124, 'neg_all': 69579, 'pos_ratio': 0.16666666666666666, 'neg_ratio': 0.18452406616939018, 'IVi': 0.0018175990717650057}}}
df = pd.DataFrame.from_dict({(i,j): cnt_ret[i][j] 
                           for i in cnt_ret.keys() 
                           for j in cnt_ret[i].keys()},
                       orient='index')
df_detail= df.reset_index().rename(columns={'level_0':'feature_name','level_1':'feature_value'})
df = df.groupby('feature_name')['IVi'].transform(np.sum)

In [1]:
import pandas as pd

In [ ]:
import pandas as pd
import json
path='./rank_res_v8/000000_0'
df = pd.read_csv(path,sep='\t',header=None,names=['name','value','coupon_list'],engine='python')
df['key']=df.apply(lambda x: 'rank_'+x['name']+'_'+str(x['value']),axis=1)
my_dict=df.set_index('key')['coupon_list'].to_dict()
encode_json=json.dumps(my_dict)
with open('res.json','w') as f:
    f.write(encode_json)

In [ ]:
import json
with open("/Users/a123/Documents/cate_tb2sq.json",'r') as load_f:
    cate_map = json.load(load_f)

In [ ]:
#字典转换成DataFrame
my_dict = {'tom':17, 'jack':25,'lucy':20,'jane':22} 

df1=pd.DataFrame.from_dict(word_cnt,orient='index')
df2 = pd.DataFrame(df1).reset_index().rename(columns={'index': 'word',0:'cnt'})
df2.to_csv('word_count.csv',index=False)
#DataFrame转换成字典
my_dict2=df2.set_index('name')['age'].to_dict()

In [7]:
df = pd.read_csv('000000_0',header=None,names=['price','cnt'],sep='\t')

In [ ]:
df['price'] = df['price'].map(lambda x: float(x.replace('￥','')))

In [8]:
import re
s = "abc${hello}casdf${world}"
re.findall(r"[$][{](.*?)[}]",s)

d = {'hello':'1', 'world':'2'}

for k,v in d.items():
    origin = r"${%s}" % k
    s = s.replace(origin,d.get(k))
    print(s)

NameError: name 'df' is not defined

In [ ]:
price_range = [0,0.001,0.01,1,100,1000,10000,100000,1000000,10000000,np.inf]
df['range'] = pd.cut(df['price'],price_range,right=False,include_lowest=True)
df.groupby('range')['cnt'].sum()